/* Mobile Phone */
@media screen and (max-width: 768px) {
    .logo{
        width: 175px;
        height: 50px !important;

        /* 图片需裁减 */
        background-image: url("../imgs/Logo/ResizedLogo配色图.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .banner{
        width: 430px;
    }

}

/* Desktop */
@media screen and (min-width: 992px) {
    /*.logo{*/
    /*    width: 179px;*/
    /*    height: 115px;*/
    /*    background-image: url("../imgs/Logo/ResizedLogo配色图.png");*/
    /*    background-repeat: no-repeat;*/
    /*    background-size: 100%;*/
    /*}*/

    .banner{
        width: 1320px;
        height: 815px;
    }
}
