/* Mobile Phone */
@media screen and (max-width: 768px) {
    .logo{
        /*width: 200px;*/
        height: 56px;
        image-rendering: pixelated;
        /* 图片需裁减 */
    }

    .highlight:hover{
        color: #FC6800;
    }

    .language-toggle{
        margin-top: 0px;
    }

    .text-highlight{
        --bs-text-opacity: 1;
        color: #FC6800 !important;
    }

    .map{
        width: 430px;
        height: 363px;
        border: 0;
    }

    /* Product Nav */
    .product-nav{
        font-size: 16px;
        font-family: "Times New Roman";
    }

    .product-sub-nav{
        font-size: 2px;
        font-family: "Times New Roman";
    }

    .product-nav:hover,.product-sub-nav:hover {
        color: #FC6800;
    }
}

/* Desktop */
@media screen and (min-width: 992px) {
    .logo{
        height: 100px;
    }

    .highlight:hover{
        color: #FC6800;
    }

    .language-toggle{
        margin-top: 0px;
    }

    .text-highlight{
        --bs-text-opacity: 1;
        color: #FC6800 !important;
    }

    .map{
        width: 600px;
        height: 450px;
        border: 0;
    }

    /* Product Nav */
    .product-nav{
        font-size: 22px;
        font-family: "Times New Roman";
    }

    .product-sub-nav{
        font-size: 18px;
        font-family: "Times New Roman";
    }

    .product-nav:hover,.product-sub-nav:hover {
        color: #FC6800;
    }
}
