/* Mobile Phone */
@media screen and (max-width: 768px) {

    .logo{
        height: 15px;
    }

    .highlight:hover{
        color: #FC6800;
    }

    .language-toggle{
        margin-top: 0px;
    }

    .size{
        width: 1272px;
        height: 689px;
    }

    .text-active{
        --bs-text-opacity: 1;
        color: #FC6800;
    }
}

/* Desktop */
@media screen and (min-width: 992px) {

    .logo{
        height: 115px;
    }

    .highlight:hover{
        color: #FC6800;
    }

    .language-toggle{
        margin-top: 0px;
    }

    .size{
        width: 1272px;
        height: 689px;
    }

    .text-active{
        --bs-text-opacity: 1;
        color: #FC6800 !important;
    }

}
